body {
font-family: 'Roboto', sans-serif;
}

.container {
	background-image: url('../images/giphyImage.jpg');
	width: 1000px;
	margin: auto;
	margin-top: 30px;
}

.btn {
	margin-left: 10px;
}

.header, .instructionsDiv {
	margin-top: 30px;
	opacity: 0.9;
	background: black;
	text-align: center;
	border-radius: 15px;
    border: 1px solid #DBDBDB;
    font-family: 'Roboto', sans-serif;
}

.heading {
	font-family: 'Roboto', sans-serif;
}

.giphyDiv {
	float: left;
	margin-right: 20px;
}

.giphyImage {
	outline: 2px solid #DBDBDB;
	margin-top: 20px;
}
.giphyRating {
	color: white;
	font-size: 20px;
}

.buttons {
	float: left;
	margin-bottom: 10px;
}

form {
	margin-left: 30px;
	float: left;
}

.search {

}

.instructionsDiv {
	clear: left;
}

.logo {
	background-image: url('../images/logo.gif');
	background-repeat: no-repeat;
	position: fixed;
	top: 20px;
	left: 20px;
}

.logo2 {
	background-image: url('../images/logo.gif');
	background-repeat: no-repeat;
	position: fixed;
	top: 20px;
	right: 20px;
}

h3 {
	color: blue;
}